<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Mr. Dead Head Stick Figure</h1>
    <p>What do Al Gore, Whoopi Goldberg, Game of Thrones author George R. R. Martin, Carlos Santana, Nancy Pelosi, Mario Batali, and yes, Ann Coulter have in common? Give up? They are all members of the inimitable community of Grateful Dead fans commonly and affectionately known as Deadheads.</p>

    <p>Urban Dictionary defines Deadhead as “a person who greatly enjoys the music of the Grateful Dead and particularly the genius of Jerry Garcia.” But decades ago, a subset of fans cranked up that devotion to a whole new level and began following the band from city to city. This subset grew in number, soon giving birth to a community with its own set of rules and even slang.</p>

    <p>Sure, Beatlemania once swept the U.S., where the demand to see the foursome live gave rise to stadium rock. And the Rolling Stones still have audiences under their thumb, despite their combined age of 284. Fans of the band Phish—Phishheads—as well as Bruce Springsteen are a formidable force, but in terms of unbridled loyalty and devotion to the late Jerry Garcia and his bandmates, Deadheads are without peer.</p>
  </div>

</div>
